#contenedor1{
    display: flex;    
    background-color:rgb(8, 8, 8);
    height: 500px;
    font-size: 2rem;
    flex-direction:row;
    justify-content:space-between;
    align-items: baseline;
    /*flex-wrap: wrap-reverse;*/
}

#item1{
    order: 2;
    align-self: flex-start;
    background-color: yellow;
}

#item2{
    order:4;
    align-self:flex-end;
    background-color:blue;
}

#item3{
    order:1;
    align-self:center;
    background-color:rgb(255, 0, 0);
}

#item4{
    order:3;
    align-self:stretch;
    background-color:rgb(255, 255, 255);
}